@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="rounded border">
                <p class="h3">
                    Välkommen till Tomasos Pizza.
                </p>
                <p>
                    Börja med att logga in eller regristrera dig för att börja handla hos oss
                </p>
            </div>
        </div>
        <div class="col">
            <div class="pizza-welcome">
                <img class="img-fluid" src="~/Images/istockphoto-Pizza.jpg" />
            </div>
        </div>
    </div>
</div>