@model MenuItemModel

<div class="container-fluid">
    <div class="row">
        <div class="col border border-info">
            @(await Component.InvokeAsync("Menu"))
        </div>
        <div class="col" id="cartList">
            @(await Component.InvokeAsync("Cart"))
        </div>
    </div>
</div>

@section Scripts{
    <script>
        updatePreview = (xhr) => {
            alert("response: ", xhr)

            $('#cartlist').load('/Home/CartPartial')
        }
    </script>
}