@model AdminViewModel

<div class="container">

    <div class="row">
        <div class="col">
            @(await Component.InvokeAsync("Menu"))
        </div>
        <div class="col"><partial name="_NewMenuItemPartial" model="Model" /></div>
        <div class="col"><partial name="_NewProductPartial" model="Model.NewProduct" /></div>
        <div class="col"><partial name="_NewTypePartial" model="Model.NewTyp" /></div>
    </div>
</div>