@model Tomasos_Pizzeria.Identity.IdentityModels.RegisterUserModel
<div class="container">
    <form asp-controller="Identity" asp-action="Register">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @if (Model.KundId != null)
        {<input type="hidden" value="@Model.KundId" />
        }
        @if (Model.Bestallnings != null)
        {
            <input type="hidden" value="@Model.Bestallnings" />

        }

        <div class="form-group">
            <label asp-for="FirstName" class="col-form-label"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-form-label"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-form-label"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Adress" class="col-form-label"></label>
            <input asp-for="Adress" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ZipCode" class="col-form-label"></label>
            <input asp-for="ZipCode" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-form-label"></label>
            <input asp-for="City" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-form-label"></label>
            <input asp-for="Phone" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="col-form-label"></label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-form-label"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>